<form id="password_form" onsubmit="return false;">
	<input type="password" class="main_inputbox" placeholder="Current password*" name="oldPassword" required>
	<label for="oldPassword" class="err">Error</label>
	<br>
	<br>
	<input type="password" class="main_inputbox" placeholder="New password*" name="newPassword" required>
	<label for="newPassword" class="err">Error</label>

	<input type="password" class="main_inputbox" placeholder="Repeat password*" name="psw-repeat" required>
	<label for="psw-repeat" class="err">Error</label>
	<br>
	<br>
	<div class="err" style="text-align: center;">Error</div>
	<button type="submit" class="main_button">Change</button>
</form>
