<div id="details_frame">
	<div style="display: flex; align-items: center; justify-content: center; height: 40px;">Chat details</div>
	{{{chat_details}}}
	{{{chat_delete}}}
	<hr>
	<div class="members">
		<div class="users"></div>
		<p>Members</p>
		<div class="user-plus" onclick="document.getElementById('modal_add_user').style.display='block';"></div>
	</div>
	{{{chat_users}}}
</div>
