.chat_users{
	--bg: var(--panel-bg);

	display: flex;
	/* max-height: 360px; */
	height: calc(100vh - 120px - 70px);
}

.chat_users .name{
	/* margin-top: 10; */
	margin-left: 18;
	/* width: calc(100% - 80px - 18px); */
}

.chat_users .icon{
	/* margin-top: 2px; */
	margin-left: 10px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: var(--image-bg);
	background-image: url("/static/icon-36.svg");
	background-size: 80px;
	cursor: pointer;
}
