<form action="#" method="post">
	<div class="selector" style="margin-left: 15%;">
		<input type="text" class="main_inputbox" placeholder="First name" name="first_name">
		<label for="first_name" class="err">Error</label>

		<input type="text" class="main_inputbox" placeholder="Second name" name="second_name">
		<label for="second_name" class="err">Error</label>

		<input type="text" class="main_inputbox" placeholder="Display name" name="display_name">
		<label for="display_name" class="err">Error</label>

		<input type="text" class="main_inputbox" placeholder="Login*" name="login">
		<label for="login" class="err">Error</label>

		<input type="text" class="main_inputbox" placeholder="E-mail*" name="email">
		<label for="email" class="err">Error</label>

		<input type="text" class="main_inputbox" placeholder="Phone" name="phone">
		<label for="phone" class="err">Error</label>
	</div>
	<br><br>
	<div class="selector">
		<div class="err" style="text-align: center;">Error</div>
		<button type="submit" class="main_button">Update</button>
		<a href="#" style="text-align: center;" onclick="window.router.go('/password_change'); return false;">Change password</a>
	</div>
</form>
