{{close}}
<h1>Log in</h1>
<div>
	<div class="selector">
		<form action="#" method="post">
			<div class="container">
				<ul>
				<li><label for="uname" class="desc">E-mail</label></li>
				<li><input type="text" class="main_inputbox" placeholder="Enter Username" name="uname" required></li>
				<br>
				<li><label for="psw" class="desc">Password</label></li>
				<li><input type="password" class="main_inputbox" placeholder="Enter Password" name="psw" required></li>
				<br>
				<li><label><input type="checkbox" checked="checked" name="remember"> Remember me</label></li>
				<br>
				<li><button type="submit" class="main_button">Log in</button></li>
				</ul>
			</div>
		</form>
		<a href="#signup" style="text-align: center;">Sign up</a>
	</div>
</div>