{{close}}
<h1>Sign up</h1>
<div>
	<div class="selector">
		<form action="#" method="post">
			<div class="container">
				<ul>
				<li><label for="uname" class="desc">E-mail</label></li>
				<li><input type="text" class="main_inputbox" placeholder="" name="uname" required></li>
				<li><label for="uname" class="err">Error</label></li>

				<li><label for="psw" class="desc">Password</label></li>
				<li><input type="password" class="main_inputbox" name="psw" required></li>
				<li><label for="psw" class="err">Error</label></li>

				<li><label for="psw-repeat" class="desc">Repeat password</label></li>
				<li><input type="password" class="main_inputbox" name="psw-repeat" required></li>
				<li><label for="psw-repeat" class="err">Error</label></li>

				<li><label><input type="checkbox" checked="checked" name="remember"> Remember me</label></li>
				<br>
				<li><button type="submit" class="main_button">Sign up</button></li>
				</ul>
			</div>
		</form>
		<a href="#login" style="text-align: center;">Log in</a>
	</div>
</div>