<div class="${classes.icon}">
	<img src="/static/users.svg"/ onclick="file_upload.click();">
	<h3>Members</h3>
	<img src="/static/user-plus.svg"/>
</div>
<input type="file" id="file_upload" name="file" hidden accept="image/png, image/jpeg, image/gif"/>
<p class="err" style="text-align: center;">Error</p>
<div class="${classes.name}">Chat name</div>
