<div style="display:flex; flex-direction: column;">
	<div class="profile-avatar" onclick="file_upload.click();"></div>
	<input type="file" id="file_upload" name="file" hidden accept="image/png, image/jpeg, image/gif"/>
	<p class="err" style="text-align: center;">Error</p>
	<br>
	<a href="#" style="text-align: center;" onclick="window.logout(); return false;">Log out</a>
</div>
