.user_node{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px;
	width: 300px;
	font-size: 12px;
	cursor: default;
}

.user_node:hover{
	background-color: var(--panel-select);
}

.user_node .info{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 10px;
	width: calc(290px - 40px - 15px);
}
